#header{
  width: 900px;
  height: 70px;
  background-color: lightgrey;
  text-align: center;
  margin: 5px;
}
.leftbox{
  clear:both;

}


.box{
  background-color: lightgrey;
  width: 81px;
  height: 81px;
  margin: 5px;
  float:left;
  text-align: center;
}

#footer{
  clear:both;
  height: 30px;
  width: 900px;
  background-color: lightgrey;
  float:left;
  margin: 5px;
  text-align: center;
}
