/*HTML tags here*/
body
{
    background: #1b0227;
}
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
li a
{
  border-width: 5px;
  border-color: Red;
  border-style: solid;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin: 5px;
  background-color: red;
}

li a:hover
{
  background-color: DarkRed;
  border-color: DarkRed;
}

li
{
  float: left;
  width:25%
}




/*Classes here*/
.title
{
  color: Red;
  border-width: 5px;
  border-color: red;
  border-style: solid;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-decoration: underline;
}

.standardHeader
{
  color: white;
  font-family: sans-serif;
  text-decoration: underline;
  font-size: 32px;
  margin: 10px;
  padding: 10px;
}

.standardText
{
  color: White;
  font-family: sans-serif;
  font-size: 20px
}


.rightImage
{
  float: right;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: Darkred;
}
.leftImage
{
  float: left;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: Darkred;
}
.gameWindow
{
  margin: auto;
  width: 750px;
  height: 650px;
  background-color: white;

}

.hud
{
  padding: 50px;
  height: 50px;
  background-color: darkgrey;


}
