ul{
  color: orange;
  width: 1000px;

}

li{
  list-style-type: none;
  padding: 10px;
  background-color: lightgrey;
  border-width:1px;
  border-style: solid;
  float: left;
  margin: 1px 1px;

}

a:link{
  text-decoration: none;
}

a:hover{
  background-color: darkgrey;
  color: white;

}
